<a class="navbar-brand" href="index.html">Card Flash</a>


<div class="">
    <ul class="navbar-nav justify-content-between flex-row">
        <li class="nav-item active">
            <a class="nav-link mx-2" href="index.html">Card Words</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="cardVideos.html">Card videos</a>
        </li>
        <!-- 
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </li> -->       
    </ul>
    
</div>